.btn {
	background-color: var(--secondary-color);
	font-size: 16px;
	cursor: pointer;
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	font-weight: bold;
	font-family: inherit;
	letter-spacing: 1px;
	transition: transform 0.1s ease;

	&:hover {
		filter: brightness(110%);
		@include noOutline();
	}

	&:focus {
		transform: scale(0.98);
		@include noOutline();
	}
}

.link-btn {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  position: absolute;
  margin-left: 5px;
  top: 10px;
  left: 0;

  &:hover {
    transform: scale(1.1);
    color: darkslategray;
    text-decoration: underline;
  }
}