$primary-color: #99bfaa;
$secondary-color: #88a781;
$primary-gray: #474b4f;
$section-2-bg: #caddbe;
$section-3-bg: #d9eed6;
$section-4-bg: #a7df88;

@mixin darkModeColors() {
  $primary-color: #525b56;
	$secondary-color: #585858;
	$section-2-bg: #222629;
	$section-3-bg: #363738;
	$section-4-bg: #484f54;
	$text-color: whitesmoke;
}