/* Media Queries */
@media screen and (max-width: 500px) {
	#contact-form {
		min-width: 90%;
	}

	.contact-info {
		font-size: 1.2rem;
	}

	#about .btn {
		margin-bottom: 10px;
	}
}


@media screen and (max-width: 1200px) {
	.project-list {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  .project {
    height: 95vh;
  }

  .project p, .project a {
    font-size: .9rem;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1000px) {
	.theme-switch-wrapper {
		right: 10px;
	}
}