/* Media Queries */
@media screen and (max-width: 500px) {
	#contact-form {
		min-width: 90%;
	}

	.contact-info {
		font-size: 1.2rem;
	}

	#about .btn {
		margin-bottom: 10px;
	}
}


@media screen and (max-width: 1000px) {
    p, a {
      font-size: 0.9rem
    }
}

@media screen and (max-width: 2000px) and (min-width: 1000px) {
	.theme-switch-wrapper {
		right: 10px;
	}
}