@mixin noOutline() {
	box-shadow: none;
	outline: none;
	color: #fff;
}

@mixin noFocus() {
	box-shadow: none;
	border: none;
	outline: none;
}

@mixin linkEffect() {
  background-position: 0;
	color: whitesmoke;
  transform: skew(-20deg);
  
  &::before {
    width: 100%;
  }
}

@mixin heartDetails() {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--text-color);
	border-radius: 50%;
}

@mixin textConfig() {
  color: var(--text-color);
  font-weight: 700;
}