/* Projects */
.project-list {
	display: flex;
	width: 90vw;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--primary-color);
  border-radius: 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	padding: 40px;
	margin: 5px;
	height: 70vh;
	flex: 0.5;
	position: relative;
	transition: all 1.2s ease;
  box-shadow: var(--box-shadow);

	h1,
	p {
		color: whitesmoke;
	}

	* {
		transition: all 1s ease-in;

		&:not(.project-logo) {
      display: none;
			opacity: 0;
			transition: opacity 0.5s ease;
		}
	}

  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.project.active {
	flex: 5;
	cursor: default;

	* {
		display: block;
		opacity: 1;
	}
}

.project-links {
	padding: 10px;
	margin-left: 50px;
}

.project a {
	color: whitesmoke;
	margin-top: 20px;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
		transform: scale(1.1);
		transition: all 0.3s ease;
	}
}