@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'scrollBar';
@import 'mixins';
@import 'navIconAnimation';
@import 'button';
@import 'header';
@import 'home';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';
@import 'caseStudy';
@import 'mediaQueries';

:root {
	--primary-color: #99bfaa;
	--secondary-color: #88a781;
	--primary-gray: #474b4f;
	--section-2-bg: #eee;
	--section-3-bg: #e0e0e0;
	--section-4-bg: #bdbdbd;
	--text-color: #000;
	--box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--border-radius: 0.8rem;
	--padding: 0.8rem;
}

[data-theme='dark'] {
	--primary-color: #525b56;
	--secondary-color: #585858;
	--section-2-bg: #222629;
	--section-3-bg: #363738;
	--section-4-bg: #484f54;
	--text-color: whitesmoke;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	color: var(--text-color);
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--text-color);
}

p {
	font-size: 1.1rem;
	color: var(--text-color);
}

section {
	min-height: 100vh;

	&:nth-of-type(2) {
		background-color: var(--section-2-bg);
	}

	&:nth-of-type(3) {
		background-color: var(--section-3-bg);
	}

	&:nth-of-type(4) {
		background-color: var(--section-4-bg);
	}
}

footer {
	background-color: var(--secondary-color);
	padding-bottom: 10px;

	p {
		margin-top: 10px;
	}
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #222629;
	min-width: 500px;
	height: 500px;
	padding: 1rem;
	margin-bottom: 1.5rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

input {
	font-family: inherit;
	border: none;
	padding: 5px;
}

textarea {
	font-size: 0.9rem;
	font-family: inherit;
	border: none;
	resize: vertical;
}

input:focus,
textarea:focus {
	@include noFocus();
}

label,
form .btn,
section .btn,
.btn a {
	color: #fff;
}

small {
	font-size: 0.8rem;
	color: var(--text-color);
}

#home,
#about,
#contact,
#projects,
#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}


